<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/quizsystem</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <mapping resource="com/ben/quiz/domain/model/ExaminationInformation.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.ExaminationInformation"/>
      <mapping resource="com/ben/quiz/domain/model/ExaminationInformationDetail.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.ExaminationInformationDetail"/>
      <mapping resource="com/ben/quiz/domain/model/FacultyInformation.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.FacultyInformation"/>
      <mapping resource="com/ben/quiz/domain/model/QuestionInformation.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.QuestionInformation"/>
      <mapping resource="com/ben/quiz/domain/model/Seiuser.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.Seiuser"/>
      <mapping resource="com/ben/quiz/domain/model/StudentInformation.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.StudentInformation"/>
      <mapping class="com.ben.quiz.domain.model.TeacherInformation"/>
      <mapping resource="com/ben/quiz/domain/model/TeacherInformation.hbm.xml"/>
      <mapping resource="com/ben/quiz/domain/model/TestInformation.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.TestInformation"/>
      <mapping resource="com/ben/quiz/domain/model/TestInformationDetail.hbm.xml"/>
      <mapping class="com.ben.quiz.domain.model.TestInformationDetail"/>
      <mapping class="com.ben.quiz.domain.model.ExaminationRoom"/>
      <mapping class="com.ben.quiz.domain.model.RateOfDifficulty"/>
      <mapping class="com.ben.quiz.domain.model.SubjectInformation"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>