.bg-light-green{
	background-color:$light-primary-color;
}

.bg-gray{
	background-color:#f5f5f5;;
}

.bg-light-green{
	background-color:$light-primary-color;
}

.bg-green{
	background-color:$primary-color;
	color:#fff;
}