/* FORM STYLE */
%form{
	.label-bold{
		font-weight: bold;
	}

	.lh{
		line-height: $input-height;
	}

	.lh-medium{
		line-height: 36px;
	}

	.lh-large{
		line-height: 40px;
	}

	.mt, .mt-xs, .mt-sm, .mt-md{
		margin-top:14px;
	}

	.mt-small, .mt-small-xs, .mt-small-sm, .mt-small-md{
		margin-top:7px;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #c2c2c2;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #c2c2c2;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #c2c2c2;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #c2c2c2;
	}

	.form-control-medium{
		height: 35px;
		font-size: 16px;
	}

	.form-control-large{
		height: 40px;
		font-size: 16px;
	}
}

.form-small{
	.bootstrap-select{
		.dropdown-toggle{
			height: auto;
			padding:3px 10px;
		}
	}

	.btn{
		font-size:14px;
		padding:3px 8px;
	}
}

.form-default{
	.required{
		vertical-align: 2px;
	}

	.label-required{
		margin-bottom: 7px;
	}

	.term-of-service{
		height: 250px;
		border:1px solid #e1e1e1;
		overflow:auto;

		article{
			margin-top: 20px;

			p{
				margin-top: 7px;
			}
		}
	}
}


.form-style{
	@extend %form;

	.title{
		font-weight: bold;
		color: #5a7e97;
	}

	.tilde{
		font-size: 30px;
		line-height: 40px;
		font-weight: bold;
	}

	.btn-form{
		height: 34px;
		padding:0 10px;
	}

	.form-note{
		margin-top: 5px;
	}

	.extra-button{
		margin-top: 20px;
		padding-top: 15px;
		border-top:1px solid #e1e1e1;

		.btn{
			min-width: 100px;
			width: 100%;

			.fa{
				margin-right:5px;
				font-size: 16px;
			}
		}
	}
}

.form-lg{
	@extend %form;

	.lh{
		line-height: 40px;
	}
}

.form-border{
	@extend %form;

	.heading-3{
		text-align: left;
		border-bottom:1px solid #e1e1e1;
		padding:10px 15px 7px 20px;
	}

	.radio, .checkbox{
		label{
			font-size: 14px;
		}
	}

	.label-required{
		margin-bottom: 10px;
	}

	.form-required{
		float:right;
		width:100%;

		.required{
			display: inline-block;
		}
	}

	.form-label-xs{
		margin-bottom: 5px;
	}

	.form-note{
		margin-top: 7px;
	}

	.form-content{
		border-bottom:1px solid #e1e1e1;
		padding:15px 0;

		&.row{
			margin: 0;
		}

		&.last-child{
			border-bottom:0;
		}

		&.pa-style{
			padding:20px 0 25px 0;
		}

		&.background{
			.heading{
				background-color:#f5f5f5;
			}
		}
	}

	.bmi-index{
		span{
			padding-right:20px;
			margin-right: 20px;
			border-right:1px solid #c2c2c2;
		}
	}

	.button-control{
		border-top:1px solid #e1e1e1;
		text-align:right;
		padding:15px;

		.btn{
			min-width: 100px;

			&:first-child{
				margin-left: 0;
			}

			margin-left: 10px;
		}
	}

	.extra-btn{
		padding:0 30px;
		margin-bottom: 20px;
	}
}

.form-calendar{
	padding:15px;

	&-label{
		@include add-border-radius(5px);
		text-align: center;
		margin-bottom: 15px;
		background-color: #f1f1f1;
		padding:6px;
	}

	&-title{
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 10px;
		color: $primary-color;
	}

	&-table{
		td, th{
			text-align: center;
		}

		.day{
			width: 20px;
			display: inline-block;
		}

		.old-day, .new-day{
			background-color:#f1f1f1;
		}
	}

	.table{
		tr{
			th{
				border-top:0;
			}
		}

		tr{
			td{
				border-left:1px solid #e1e1e1;
				padding:15px 5px;

				&:first-child{
					border-left:0;
				}
			}
		}
	}
}

.form-control{
	border-color:#ccc;
	color:#707070;
	height:$input-height;

	&[readonly="readonly"]{
		background-color:#e1e1e1;

		&:focus{
			@include add-box-shadow-inset(0, 1px, 1px, rgba(0,0,0,.075));
			border-color:#ccc;
		}
	}

	&.bootstrap-calendar-1{
		padding-right: 8px;
	}
}

%form-control-default{
	@include add-transition-all(0.2s);
}

.form-control-gray{
	@extend %form-control-default;
	width:100%;
	height:40px;
	background-color:#ebebeb;
	padding:0 15px;
	@include add-border-radius(5px);
	border:none;

	&:focus{
		@include add-box-shadow-inset(0,0,5px,rgba(103,184,0,.4));
	}
}

.form-control-gray::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #acacac;
}
.form-control-gray::-moz-placeholder { /* Firefox 19+ */
  color: #acacac;
}
.form-control-gray:-ms-input-placeholder { /* IE 10+ */
  color: #acacac;
}
.form-control-gray:-moz-placeholder { /* Firefox 18- */
  color: #acacac;
}

.bootstrap-select{
	.dropdown-toggle{
		height: $input-height;
	}

	&.selectbox-lg{
		.btn{
			font-size: 18px;
			height: 40px;
		}
	}

	&.txt-center{
		.btn{
			.filter-option{
				text-align: center;
			}
		}

		.dropdown-menu{
			text-align: center;
		}
	}
}

.input-group-1{
	.input-group-addon{
		border:none;
	}
}

.radio-group{
	border:1px solid #ccc;
	padding:0 10px 5px 10px;

	&-title{
		border-bottom:1px solid #ccc;
		padding:5px;
		margin-bottom:5px;
	}

	&.mt-small{
		margin-top: 15px;
	}
}

.input-group.date{
	.input-group-addon{
		padding:0;

		label{
			cursor: pointer;
			padding:6px 12px;
			margin-bottom: 0;
		}
	}
}

.form-search{
	@extend %form;
	position:relative;
	background-color:#ebebeb;
	padding:15px;

	&.margin-top{
		margin-top: 30px;
	}

	.caption{
		font-family:$font-bold, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', Helvetica, Arial, sans-serif;
		color:#6a6a6a;
		cursor:pointer;
		display: inline-block;

		.fa{
			font-size:18px;
			margin-right: 5px;
			color:#707070;
		}
	}

	label{
		width:100%;
	}

	.checkbox{
		label{
			font-weight: normal;
		}
	}

	.checkbox{
		font-size: 14px;
	}

	.radio{
		label{
			font-weight: normal;
		}
	}

	.col-button{
		&.border-lg{

		}
	}
	
	.btn-search-2{
		width: 100%;
		padding:5px 8px 4px;
	}

	.btn-search{
		padding:5px 8px 4px;
	}
}

.form-search-2{
	@extend .form-search;
	@include add-border-radius(5px);

	label{
		&.lh{
			margin-bottom: 0;
		}
	}

	.btn-search{
		margin-top: 20px;
		width: 100%
	}
}

.input-error{
	border:1px solid $red-color;
}

.bootstrap-calendar-2{
	&[readonly="readonly"]{
		background-color:#fff;
	}	
}

@media screen and(min-width:$tablet){
	%form{
		.lh-sm{
			line-height: $input-height;

			label{
				margin-bottom: 0;
			}
		}

		.mt-xs, .mt-small-xs{
			margin-top:0;
		}

		.pl-sm{
			padding-left:15px;
		}

		.pl-small-sm{
			padding-left:5px;
		}

		.pr-small-sm{
			padding-right:5px;
		}

		.plr-small-sm{
			padding-right:5px;
			padding-left: 5px
		}
	}

	.form-border{
		.form-content{
			border:0;
			padding:7px 15px;

			&.row{
				margin: 0 -15px;
			}

			&.first-child{
				padding-top:15px;
			}

			&.last-child{
				padding-bottom:15px;
			}
		}

		.form-required{
			&.form-required-sm{
				margin-top: 4px;
			}
		}

		.form-label{
			@include add-border-radius(5px);
			background-color:#f1f1f1;
			height: $input-height;
			padding:0 15px;
			line-height: 33px;

			label{
				margin:0;
			}
		}

		.form-label-2{
			@include add-border-radius(5px);
			background-color:#f1f1f1;
			padding:6px 15px;

			label{
				margin:0;
			}
		}

		// .extra-btn{
		// 	padding:0 25px;
		// }

		// .button-control{
		// 	padding:15px 10px;
		// }
	}

	.form-search{
		padding:20px;

		label{
			&.lh-sm{
				margin-bottom: 0;
			}
		}

		.form-label{
			@include add-border-radius(5px);
			background-color:#f1f1f1;
			height: 30px;
			padding:0 15px;
			line-height: 30px;
		}

		.btn-search{
			/*margin-top: 27px;*/
		}

		.btn-search-2{
			margin-top: 15px;
		}

		.col-button{
			&.border-sm{
				border-left:1px solid #c2c2c2;
			}

			&.mt-xs{
				margin-top: 27px;
			}
		}
	}

	.form-search-2{
		.btn-search{
			margin-top: 20px;
			width: auto;
			padding-left:25px;
			padding-right: 25px;
		}
	}
}


@media screen and(min-width:$desktop-md){
	%form{
		.lh-md{
			line-height: $input-height;
		}

		.mt-sm, .mt-small-sm{
			margin-top:0;
		}
	}

	.form-default{
		.required{
			vertical-align: 2px;
		}

		.label-required{
			margin-bottom: 7px;
		}

		.term-of-service{
			padding:20px;
		}
	}

	.form-border{
		.form-content{
			padding:7px 20px;

			&.pa-style{
				padding:25px 25px 30px 25px;
			}

			&.first-child{
				padding-top:20px;
			}

			&.last-child{
				padding-bottom:20px;
			}
		}

		.button-control{
			padding:15px 20px;
		}

		.extra-btn{
			padding-left:15px;
			padding-right:35px;
		}
	}

	.form-search{
		padding:20px;

		label{
			&.lh-md{
				margin-bottom: 0;
			}
		}

		.col-button{
			&.border-md{
				border-left:1px solid #c2c2c2;
			}

			&.mt-xs, &.mt-sm{
				margin-top: 28px;
			}
		}

		.btn-search{
			/*margin-top: 28px;

			&.mt-default{
				margin-top: 20px;
			}*/
		}
		.reheight{
			height: 92px;
		}

	}

	.form-style{
		.extra-button{
			margin-top: 30px;
			margin-bottom: -10px;
			margin-left: -30px;
			margin-right: -30px;
			padding-left:15px;
			padding-right: 15px;
		}
	}
}/* desktop-md */

@media screen and(min-width:$desktop-lg){
	%form{
		.lh-lg{
			line-height: $input-height;
		}

		.mt-md, .mt-small-md{
			margin-top:0;
		}

		.palr-lg{
			padding-left: 25px;
			padding-right: 25px;
		}

		.pal-lg{
			padding-left: 25px;
		}

		.par-lg{
			padding-right: 25px;
		}
	}

	.form-border{
		.extra-btn{
			.btn-refresh{
				margin-top: 20px;
			}

			padding-right:35px;
		}

		.button-control{
			
		}
	}

	.form-search{
		label{
			&.lh-lg{
				margin-bottom: 0;
			}
		}

		.col-input{
			width: 87%;
		}

		.col-button{
			width: 13%;

			&.border-lg{
				border-left:1px solid #c2c2c2;
			}

			&.mt-md{
				margin-top: 28px;
			}
		}

	}

	.radio-group{
		padding-bottom: 0;
		line-height: 32px;

		&-title{
			padding:0;
			border-bottom:0;
			border-right:1px solid #ccc;
			margin-bottom: 0;
		}
	}
}